@using Store.Web.Controllers
@using Store.Contractors

@model Form
@{
    ViewData["Title"] = "Заказ оформлен";
}

<p>Заказ оформлен. Мы готови его чтобы передать в службу доставки</p>

<p>
    <a href="@Url.Action("Index", "Home")">На главную страницу к магазину</a>